<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0a5b"/>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
   
    <title>family Resto</title>
   
</head>
<body>
<header class="header">
    <a href="maincontent" class="skip-link">Skip To Content</a>
    <div class="header_inner">
        <h1 class="header_title">family Resto</h1>
    </div>
    <button id="hamburgerButton" class="header__menu"  aria-label="navigation-menu">☰</a></button>

<nav id="navigationDrawer" class="nav">
    <ul class="nav_list">
        <li class="nav_item"><a href="#/home">Home</a></li>
        <li class="nav_item"><a href="#/favorite">Favorite</a></li>
        <li class="nav_item"><a href="https://www.linkedin.com/in/aulia-rahman-1515a3214/">About Us</a></li>
    </ul>
</nav>
</header>
<div class="hero">
    <div class="hero_inner">
        <h1 class="hero_title">found your favorite food</h1>
        <p class="hero_tagline">Make your happy family with Resto Family</p>
    </div>
</div>
<main id="mainContent">
   

      
</main>
<footer>
    <p> &#169; 2021, Resto Family</p>
</footer>
</body>
</html>
